@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --widthB:10px;
  --bgB:#888;
  --brB:5px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: var(--widthB);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bgB);
  border-radius: var(--brB);
}

::-moz-scrollbar {
  width: var(--widthB);
}

::-moz-scrollbar-thumb {
  background-color: var(--bgB);
  border-radius: var(--brB);
}

::-ms-scrollbar {
  width: var(--widthB);
}

::-ms-scrollbar-thumb {
  background-color: var(--bgB);
  border-radius: var(--brB);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}